.navbar-header {
    background-color:rgba(244,247,250, 1);
    font-family:$font-SourceSansPro;
    border-bottom: 1px solid rgba(230,232,236,1);
        & .wrapper {
            justify-content: space-between;
        }
        & .contact-list,
        & .social-list{
            margin: 0;
            padding: 0;
            & li {
                display: inline-block;
            }
        }
        & .contact-list {
            & li {
                margin: 0 30px 0 0;
                &:last-child {
                    margin:0    ;
                }
            }
            & a {
                position: relative;
                display: block;
                padding: 18px 0;
                text-decoration:none;
                font-size: 12px;
                color:rgba(89, 106, 131, 1);
                transition: color .2s;
                & i {
                    margin-right: 5px;
                    font-size: 15px;     
                }
                &:hover {
                    color:rgba(126,195,169,1);
                }
            }
        }
        & .social-list {
            & li {
                position: relative;
                z-index: 1;
                min-width: 50px;
                text-align: center;
                &:before {
                    content:'';
                    position:absolute;
                    width: 100%;
                    height:0;
                    top: 0;
                    left: 0;
                    z-index:-1;
                    transition:all .3s;
                }
                &:hover:before {
                    height: 100%;
                }
                &:hover > a i {
                    color: #fff;
                    transition:all .5s;
                } 
                &:nth-child(1):hover:before{
                    background-color: rgba(69,104,179,1);
                }
                &:nth-child(2):hover:before{
                    background-color: rgba(222,87,68,1);
                }
                &:nth-child(3):hover:before{
                    background-color: rgba(44,187,237,1);
                }
                &:nth-child(4):hover:before{
                    background-color: rgba(217,67,72,1);
                }
                &:nth-child(5):hover:before{
                    background-color: rgba(49,121,255,1);
                }
                &:nth-child(6):hover:before{
                    background-color: rgba(235,99,151,1);
                }
                & a {
                    display: block;
                    width: 100%;
                    padding: 18px 0;
                    color:rgba(89, 106, 131, 1);
                }
            }
        }
    }

.navbar {
    font-family:$font-SourceSansPro;
    color:rgba(85,110,136,1);
    & .wrapper {
        padding:40px 20px;
        justify-content: space-between;
    }
    & .logo img {
        width: 100%;
        max-width: 161px;
    }
    & .nav-list {
        padding: 0;
        & li {
            display: inline-block;
            margin-left:25px;
            &:first-child {
                margin-left: 0;
            }
        }
        & a {
            text-decoration: none;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 18px;
            color:rgba(85,110,136,1);
            transition: color .2s;
            &:hover {
                color:rgba(70,195,167,1);
            }
        }
    }
    & .search {
        position: relative;
        display: flex;
        align-items: center;
        &:hover > input {
            opacity: 1;
            transition: opacity .4s;
        }
        & input {
            position: relative;
            width:100%;
            margin-right: 10px;
            padding: 5px;
            border:1px solid rgba(85,110,136,1);
            border-radius: 50px;
            outline: none;
            opacity: 0;
            transition: all .4s;
        }
        & i {
            cursor: pointer;
            font-size: 15px;
        }
    }
    
    & .mobile-nav {
        position: fixed;
        top: 0;
        left:0;
        display: flex;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        z-index:10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(70,195,167,.8);
        list-style: none;
        transform: rotateX(90deg);
        transition: rotate, .2s;
        & li {
            width: 5    0%;
            margin: 3px 0;
            text-align: center;
            border: 1px solid rgba(255,255,255,0);
            border-radius: 4px;
            transition: background-color, .2s;
            &:hover {
                background-color: rgba(70,195,167,1);
                border: 1px solid #fff;
            }
            &:first-child {
                cursor: pointer;
                margin-bottom: 20px;
                border:none;
                padding: 5px 10px;
                border-radius: 50%;
                color: #fff;
                & i {
                    font-size: 2rem;
                }
            }
        }
        & a {
            display: block;
            text-decoration: none;
            color: #fff;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 2px;
            font-size: 20px;
            margin: 8px 5px;
        }
    }
    & .mobile-menu {
        display: none;
    }
    & .vissible-menu {
        transform: rotateX(0deg);
    }
} 
// MEDIA
@media screen and (max-width:1400px) {
    .navbar {
       & .nav-list {
           & a {
               font-size: 17px;
           }
       }
    }
}
@media screen and (max-width:1200px) {
    .navbar {
       & .nav-list {
           & a {
               font-size: 16px;
           }
        }
        & .search {
            & input {
                max-width: 120px;
            }
        }
    }
}
@media screen and (max-width:992px) {
    .navbar {
        & .wrapper {
            justify-content: space-around;
        }
        & .nav-list,
        & .search {
            display: none;
        }
        & .mobile-menu {
            display: block;
        & i {
            font-size: 2.5rem;
            cursor: pointer;
            transition: color .2s;
            &:hover {
                color:rgba(70,195,167,1);
            }
        }
        

        }
    }
}
@media screen and (max-width:756px) {
    .navbar-header {
        & .wrapper {
            flex-direction: column; 
        }
       
        & .contact-list {
            & a {
                padding: 8px 0;
            }
        }
        & .social-list {
            width: 100%;
            text-align: center;
            & li {
                width: calc(100% / 6 - 10px);
                min-width: 30px;
                & a {
                    padding: 8px 0;
                }
            }
        }
    }
}
@media screen and (max-width:576px){
    .navbar {
        & .logo {
            & img {
                max-width: 120px;
            }
        }
    }
}